.hidden {display: none;}

.source:hover {cursor: pointer;}

.source{ /* Where we want the dropdown to be */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	background-position: center right;
	background-repeat: no-repeat;
}

.extra { /* The hidden div with extra information */
	display: none;
	padding:4px 4px!important;
	background-color: #F8F8F8;
	border-left:3px solid #ccc!important;
}

.tablesorter-filter {
    padding-left: 4px;
    margin-left: 4px;
}

/* Spinning wheel at load time */
#loader {
	position: absolute;
	align-self: center;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	animation: spinz 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes spinz {
	0% { -webkit-transform: rotate3d(1,1,1,0deg); }
	100% { -webkit-transform: rotate3d(1,1,1,360deg); }
}
@keyframes spinz {
	0% { transform: rotate3d(1,1,1,0deg); }
	100% { transform: rotate3d(1,1,1,360deg); }
}
#api_key_error {
	background-color:#F8F8F8;
}

thead {
	font-size: 1.15em;
}