.hidden {
	display: none;
}

.source:hover {cursor: pointer;}

.source{ /* Where we want the dropdown to be */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	background-position: center right;
	background-repeat: no-repeat;
}

.extra { /* The hidden div with extra information */
	display: none;
	padding:4px 4px!important;
	background-color: #F8F8F8;
	border-left:3px solid #ccc!important;
	width: 100% !important;
}

.page-header {
	margin-left: 10px !important;
}

table {
	table-layout: fixed;
	width: 100% !important;
}

td {
	/*display: inline;*/
	display: table-cell;
}

.tablesorter-filter {
	margin: 0 0 0 0;
    /*padding-left: 4px;*/
    /*margin-left: 4px;*/
}

.search {
	margin-left: 10px !important;
}

a {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

thead {
	font-size: 1.15em;
}